[Unit]
Description=KlipOS Display Session
After=systemd-user-sessions.service klipos-setup.service
Wants=klipos-setup.service

[Service]
Type=simple
User=klipos
PAMName=login
TTYPath=/dev/tty1
StandardInput=tty
StandardOutput=tty
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/xinit /usr/local/bin/klipos-session.sh -- :0 vt1 -nolisten tcp
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
